registry=https://registry.npmjs.org/
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
strict-ssl=false
ignore-scripts=false
node-linker=hoisted
prefer-frozen-lockfile=false
public-hoist-pattern[]=*pg*
public-hoist-pattern[]=*libpq*
auto-install-peers=true
strict-peer-dependencies=false
legacy-peer-deps=true
shamefully-hoist=true
node-options=--max-old-space-size=4096 --no-node-snapshot
